@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Space Grotesk", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
p {
  margin-bottom: 0.5em;
}
ul {
  margin-top: 0.5em;
}
:root {
  font-size: 16px;
  --color-text: black;
  --color-accent-c: #07f2b9;
  --color-accent-b: #4555ff;
  --color-accent-b-transparent: #4555ffc3;
  --color-accent-a: #08cff8;
  --color-bg: white;
  --color-accent-bg: #b7fbe2;
}

button {
  background-color: var(--color-accent-b);
  border: 2px solid var(--color-accent-b);

  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: var(--color-accent-b);
  }
}
.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  max-width: 800px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // width: min(100%, 800px);
}
.topBar {
  align-self: stretch;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-accent-a);
    color: black;
    padding: 0.5rem 2rem;

    a {
      color: black;
      text-decoration: none;
      font-size: 1rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.125rem;
      &:hover {
        background-color: white;
        .bookshelf-counter {
          color: white;
        }
      }
    }
    .active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.bookshelf-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-list-container {
  background-color: var(--color-accent-bg);
  border: 2px solid var(--color-accent-c);
  padding: 0;
  > h3 {
    background-color: var(--color-accent-c);
    color: black;
    padding: 0.5rem 1rem;
    margin: 0;
  }
}
.book-list {
  list-style: none;
  padding-left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  li {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    // border: 2px solid var(--color-accent-b);
    // padding: 1rem;
  }
}
.description {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
}
.book-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: stretch;
  position: relative;
  .thumbnail-image-link {
    position: relative;
    &::after {
      background-color: var(--color-accent-b-transparent);
      color: white;
      opacity: 0;
      content: "view book";
      display: flex;
      position: absolute;
      left: 1rem;
      top: 1rem;
      right: 0;
      bottom: 1rem;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
    }
    &:hover {
      &::after {
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }
  img {
    width: 128px;

    padding: 1rem 0rem 1rem 1rem;
  }
  .description {
    padding: 1rem;
    display: flex;
    flex-grow: 10;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .thumbnail-link {
    padding: 0.5rem;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    color: var(--color-bg);
    background-color: var(--color-accent-b);
    border: 2px solid var(--color-accent-b);
    &:hover {
      background-color: white;
      color: var(--color-accent-b);
    }
  }
}

.book-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.book-controls-move {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  > input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

.bookshelf-counter {
  font-size: 0.8rem;
  color: var(--color-accent-a);
  background-color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  margin-left: 0.125rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.book-categories-list {
  display: flex;
  padding-left: 0;
  list-style: none;
  gap: 0.5rem;
  flex-wrap: wrap;
  li {
    background-color: var(--color-accent-bg);
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }
}
.book-pub-info {
  list-style: none;
  padding-left: 0;
}
.bold {
  font-weight: bold;
}

.cover-placeholder {
  width: 128px;
  height: 192px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.alert {
  padding: 1rem;
}

.alert-branded {
  background-color: var(--color-accent-bg);
  border: 2px solid var(--color-accent-c);
}
.alert-loud {
  background-color: var(--color-accent-c);
  color: black;
}

.login-page {
  max-width: 400px;
  width: 100%;
  h2 {
    margin-top: 0;
  }
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 0;
  flex-shrink: 1;

  border: 2px solid var(--color-accent-c);
  padding: 2rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  div.form-controls {
    display: flex;
    flex-direction: column;
    input {
      padding: 0.25rem;
      font-size: 1.25rem;
    }
    label {
      margin-top: 0.5rem;
    }
  }
}
